/* pages/find/find.wxss */
page{
  background-color: rgb(168, 241, 255);
  padding-top: 185rpx;
}

.container {
  box-sizing: border-box;
}

.my-card{
  display: flex;
  flex-wrap: wrap;
}

.header{
  position: relative;
  display: flex;
  margin-left: 20rpx;
  margin-bottom: 20rpx;
  .icon-bianji{
    font-size: 60rpx;
  }
  .right{
    margin-left: 25rpx;
  }
}

.blog-panel{
  margin-bottom: 20rpx;
  box-sizing: border-box;
}